html, body, div, span, table, footer, a, h2, canvas, div, header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

header {
  padding-top: 20px;
    text-align: right;
    padding-right: 20px;
}


h1 {
  margin-top: 0;
  font-family: Arial;
  font-size: 25pt;
  font-weight: bold;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  font-family: Arial;
  font-size: 10pt;
  font-style: italic;
  padding-top: 0px;
}

img {
  vertical-align:middle;
  text-align: center;
  z-index: 1;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: block;
}

a {
  color: #000000;
}

canvas {
    position: fixed;
    color: #FFFFFF;
  z-index: -1;
}


div.gallery {
    display: block;
    margin-left: auto;
  margin-right: auto;
}

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    margin: auto;
}