<!doctype html>
<html>
<title> base page </title>

<ul>
  <a href="one"> Home</a>
  <a href="#two"> How It Works</a>
  <a href="#three"> About</a>
  <a href="#four"> Get Involved</a>
</ul>
<h2 id="one">Home</h2>
<p1>Welcome to my Website! </p1>

<h2 id="two">How It Works</h2>
<p1>22, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
2, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
2, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
2, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
2, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
</p1>

<h2 id="three">About</h2>
<p1>22, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
</p1>

<h2 id="four">Get Involved</h2>
<p1>22, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
2, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
2, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
2, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
2, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
2, A Million is part love letter, part final resting place of two decades of searching for selfunderstanding like a religion. And the inner-resolution of maybe never finding that understanding. The album’s 10 poly-fi recordings are a collection of sacred moments, love’s torment and salvation, contexts of intense memories, signs that you can pin meaning onto or disregard as coincidence. If Bon Iver, Bon Iver built a habitat rooted in physical spaces, then 22, A Million is the letting go of that attachment to a place.
</p1>


</html>

<script type="text/javascript">
 $('a[href*="#"]:not([href="#"])').click(function() {
  if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
    if (target.length) {
      $('html, body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
});
</script>