<!--Made by Yoshiki Yamamoto-->
<!doctype html>
<html>
<title> Kyoko's Website </title>

<div class="nav">
  <ul>
    <a href="#one"> Home</a>
    <a href="#two"> Portfolio</a>
    <a href="#three"> Inquiry</a>
  </ul>
</div>

<div>
	<h2 id="one"> Home</h2>
	<div id="gallery">
		<a href="#" class="first">
			<img src="/Users/yoshikiyamamoto/Documents/personalwebsite/images/IMG_4591.JPG" alt="Woman" width="580" height="580">
		</a>
		<a href="#">
			<img src="/Users/yoshikiyamamoto/Documents/personalwebsite/images/IMG_7174.JPG" alt="Guns" width="580" height="360">
		</a>
		<a href="#">
			<img src="/Users/yoshikiyamamoto/Documents/personalwebsite/images/IMG_8281.JPG" alt="Charcoal" width="580" height="360">
		</a>
		<a href="#">
			<img src="/Users/yoshikiyamamoto/Documents/personalwebsite/images/IMG_9429.JPG" alt="Feet" width="580" height="360">
		</a>
	</div>

	<p1>Kyoko Yamamoto:	Barnard College of Columbia University (Mathematics and Economics B.A.) </p1>
</div>

<div>
	<h2 id="two"> Portfolio</h2>
		<p1>

		</p1>
</div>

<div>
	<h2 id="three"> Inquiry</h2>
		<form>
  			First and Last name:<br>
  			<input type="text" name="name"><br>
  			Description of what you want:<br>
  			<input type="text" name="description"><br>
  			Email:<br>
  			<input type="text" name="email"><br>
  			<input type="submit" value="Submit">
		</form>
</div>

<div>
	<h2 id="four"> About Me</h2>
		<p1>

		</p1>
</div>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});

$(document).ready(function() {		
	
	//Execute the slideShow
	slideShow();

});

function slideShow() {

	//Set the opacity of all images to 0
	$('#gallery a').css({opacity: 0.0});
	
	//Get the first image and display it (set it to full opacity)
	$('#gallery a:first').css({opacity: 1.0});
	
	//Set the caption background to semi-transparent
	$('#gallery .caption').css({opacity: 0.7});

	//Resize the width of the caption according to the image width
	$('#gallery .caption').css({width: $('#gallery a').find('img').css('width')});
	
	//Get the caption of the first image from REL attribute and display it
	$('#gallery .content').html($('#gallery a:first').find('img').attr('rel'))
	.animate({opacity: 0.7}, 400);
	
	//Call the gallery function to run the slideshow, 6000 = change to next image after 6 seconds
	setInterval('gallery()',6000);
	
}

function gallery() {
	
	//if no IMGs have the show class, grab the first image
	var current = ($('#gallery a.show')?  $('#gallery a.show') : $('#gallery a:first'));

	//Get next image, if it reached the end of the slideshow, rotate it back to the first image
	var next = ((current.next().length) ? ((current.next().hasClass('caption'))? $('#gallery a:first') :current.next()) : $('#gallery a:first'));	
	
	//Get next image caption
	var caption = next.find('img').attr('rel');	
	
	//Set the fade in effect for the next image, show class has higher z-index
	next.css({opacity: 0.0})
	.addClass('show')
	.animate({opacity: 1.0}, 1000);

	//Hide the current image
	current.animate({opacity: 0.0}, 1000)
	.removeClass('show');
	
	//Set the opacity to 0 and height to 1px
	$('#gallery .caption').animate({opacity: 0.0}, { queue:false, duration:0 }).animate({height: '1px'}, { queue:true, duration:300 });	
	
	//Animate the caption, opacity to 0.7 and heigth to 100px, a slide up effect
	$('#gallery .caption').animate({opacity: 0.7},100 ).animate({height: '100px'},500 );
	
	//Display the content
	$('#gallery .content').html(caption);
		
}
</script>