<!doctype html>
<html>
<title> base page </title>

<a href="one"> Home</a>
<a href="#two"> How It Works</a>
<a href="#three"> About</a>
<a href="#four"> Get Involved</a>

<h2 id="one">Section One</h2>
<p1>Welcome to my Website! </p1>

<h2 id="two">Section Two</h2>


<h2 id="three">Section Two</h2>

<h2 id="four">Section Two</h2>



</html>

<script type="text/javascript">
 $('a[href*="#"]:not([href="#"])').click(function() {
  if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
    if (target.length) {
      $('html, body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
});
</script>